
.compare-section {
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 20px;
}

.compare-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 6px;
}

.compare-subtitle {
  text-align: center;
  color: #666;
  margin-bottom: 50px;
}

/* TABLE GRID */
.compare-table {
  display: grid;
  grid-template-columns: 160px 1.3fr 1fr;
  border-collapse: collapse;
}

/* HEADERS */
.table-header {
  font-weight: 600;
  padding-bottom: 16px;
}

.table-header.pink {
  color: #ff6b81;
}

.table-header.grey {
  color: #666;
}

/* CELLS */
.table-cell {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}

/* LABEL COLUMN */
.table-cell.label {
  color: #000000;
}

/* LEFT (PINK) COLUMN */
.table-cell.left {
  background: #fff7f9;
  border-left: 1px solid #ffd2d9;
  border-right: 1px solid #ffd2d9;
  border-bottom: 1px solid #ffd2d9;
}

.table-cell.left.top {
  border-top: 1px solid #ffd2d9;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.table-cell.left.bottom {
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

/* RIGHT COLUMN */
.table-cell.right {
  color: #444;
}

.table-cell h4 {
  font-size: 15px;
  margin-bottom: 0px;
}

.table-cell.left h4 {
  color: #ff6b81;
}

.table-cell p {
  color: #666;
  line-height: 1;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .compare-table {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }

  .table-header {
    display: none;
  }
}
