.content-section {
  padding: 50px 60px;
  background-color: #ffffff;
}

.section-heading {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #111;
}

/* GRID */
.card-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 22px;
}

/* PRODUCT CARD */
.product-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.image-wrapper img {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

/* TEXT */
.card-text {
  padding: 14px 16px;
}

.card-text .title {
  font-size: 14px;
  color: #555;
}

.card-text .discount {
  font-size: 15px;
  font-weight: 600;
  color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media (max-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .content-section {
    padding: 30px 20px;
  }
}
